﻿@model PIRApps.data.Quotation
@{
    ViewBag.Title = "AddEdit";
    var equipmentAlls = (List<PIRApps.data.MsEquipment>)ViewBag.equipmentAll;
    var equipmentUseds = (List<PIRApps.data.QuotationEquipment>)ViewBag.equipmentUsed;
    var QuotationPekerjaan = (List<PIRApps.data.QuotationItemPekerjaan>)ViewBag.QuotationPekerjaans;
    var chemicalAll = (List<PIRApps.data.MsChemical>)ViewBag.chemicalAll;
    var grandTotal = (decimal?)ViewBag.grandTotal;
    var index = 1;
}
<div class="tab-pane active" id="horizontal-form">
    @using (Html.BeginForm(MVC.HouseKeeping.Quotation.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
    {

        <div class="form-group">
            <label for="focusedinput" class="col-sm-2 control-label"><b>Quotation</b></label>
            @*<div class="col-sm-8">
                    @Html.HiddenFor(x => x.QuotationID)
                    @Html.TextBoxFor(x => x.QuotationID, new { @class = "form-control", @placeholder = "User Group Code", @required = "required" })
                </div>*@
        </div>
        <div class="form-group">
            <label for="focusedinput" class="col-sm-2 control-label">Subportfolio</label>
            <div class="col-md-3">
                @Html.DropDownListFor(x => x.Subportofolio, (List<SelectListItem>)ViewBag.subp, "--select one--", new { @class = "form-control required", required = "" })
            </div>
        </div>
        <div class="form-group">
            <label for="focusedinput" class="col-sm-2 control-label">Quotation ID</label>
            <div class="col-sm-3">

                <label class="control-label">@Model.QuotationID</label>
            </div>
        </div>
        <div class="form-group">
            <label for="focusedinput" class="col-sm-2 control-label">Quotation Date</label>
            <div class="col-sm-3">
                <label class="control-label">@Model.CreatedDate</label>
            </div>
        </div>
        <div class="form-group">
            <label for="focusedinput" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-3">
                <label class="control-label">@Model.QuotationStatus</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label"><b>Tenant Information</b></label>
                    @*<div class="col-sm-8">
                            @Html.HiddenFor(x => x.QuotationID)
                            @Html.TextBoxFor(x => x.QuotationID, new { @class = "form-control", @placeholder = "User Group Code", @required = "required" })
                        </div>*@
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Shop Name</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.ShopName, (List<SelectListItem>)ViewBag.shop, "--select one--", new { @class = "form-control required", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Company Name</label>
                    <div class="col-md-5">
                        @Html.HiddenFor(x => x.CompanyName)
                        <label class="control-label" id="company-label">@Model.CompanyName</label>
                        @*@Html.Label(Model.CompanyName, new { @class = "control-label", required = "" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Shop Floor</label>
                    <div class="col-md-5">
                        @Html.HiddenFor(x => x.Floor)
                        <label class="control-label" id="company-floor">@Model.Floor</label>
                        @*@Html.Label(Model.Floor, new { @class = "control-label", required = "" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Unit Floor</label>
                    <div class="col-md-5">
                        @Html.HiddenFor(x => x.Unit)
                        <label class="control-label" id="company-unit">@Model.Unit</label>
                        @*@Html.Label( Model.Unit, new { @class = "control-label", required = "" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Company Address</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.CompanyAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">NPWP No</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.NPWP, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">PIC</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.PIC, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Contact No</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.ContactNum, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Email</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label"><b>Work Information</b></label>
                    @*<div class="col-sm-8">
                            @Html.HiddenFor(x => x.QuotationID)
                            @Html.TextBoxFor(x => x.QuotationID, new { @class = "form-control", @placeholder = "User Group Code", @required = "required" })
                        </div>*@
                </div>
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-5 control-label">Type of work</label>
                    <div class="col-md-5">

                        <label class="control-label" id="typeofwork"></label>
                        @*@Html.Label(Model.CompanyName, new { @class = "control-label", required = "" })*@
                    </div>
                </div>
            </div>
        </div>
        if (Model.QuotationID != null)
        {
            <form class="form-horizontal">
               
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category Pekerjaan</th>
                                    <th>Item Pekerjaan</th>
                                    <th>Equipment</th>
                                    <th>Chemical</th>
                                    <th>SPV Foreman</th>
                                    <th>Cleaner</th>
                                    <th>Hours</th>
                                    <th>Selling Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @foreach (var items in QuotationPekerjaan)
                                {
                                    <tr>
                                        <td>@items.CategoryPekerjaan</td>
                                        <td>@items.ItemPekerjaan</td>
                                        <td>@items.Equpment</td>
                                        <td>@items.Chemical</td>
                                        <td>@items.Foreman</td>
                                        <td>@items.Cleaner</td>
                                        <td>@items.Hours</td>
                                        <td>@items.SellingPrice</td>
                                        <td>@items.TotalPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-5 control-label">Grand Total</label>
                            <div class="col-md-5">
                                @Html.TextBox("GrandTotal", @grandTotal, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-5 control-label">PPN 10%</label>
                            @if (Model.IsPPN == true)
                            {
                                <div class="col-md-1">
                                    @Html.CheckBox("PPN", new { @class = "form-control", @disabled = "disabled" , @checked = "checked"})
                                </div>
                            }
                           
                            <div class="col-md-4">
                                @Html.TextBox("PPNPrice", "", new { @class = "form-control", @disabled = "d" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-5 control-label">Nett Price</label>
                            <div class="col-md-5">
                                @Html.TextBox("NettPrice", @grandTotal, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            using (Html.BeginForm(MVC.HouseKeeping.Quotation.UpdateTotal(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
            {
                @*@Html.Hidden("QuotationID", Model.QuotationID)
                    @Html.Hidden("GrandTotals", grandTotal)
                    @Html.Hidden("IsPPN")
                    @Html.Hidden("NettPrice", grandTotal)
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            @if (Model.FormStatus == "Final")
                            {
                                <a href="@Url.Action(MVC.HouseKeeping.Quotation.GetPdf(Model.QuotationID))" target="_blank"><button type="button" class="btn btn-raised btn-primary">Print</button></a>
                            }
                            <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                            <a href="@Url.Action(MVC.HouseKeeping.GroupPekerjaan.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                        </div>
                    </div>*@
            }
        }
    }
</div>
<script>
    $(document).ready(function () {
        $('#multiselect').multiselect();
        $('#multiselect2').multiselect();
        $("#ShopName").change(function () {
            var value = this.value;
            $.ajax({
                url: "/HouseKeeping/Quotation/AjaxGetShopData?shopName=" + value, success: function (response) {
                    //alert(response)
                    $("#company-label").text(response.CompanyName);
                    $("#CompanyName").val(response.CompanyName);
                    $("#company-floor").text(response.ShopFloor);
                    $("#Floor").val(response.ShopFloor);
                    $("#company-unit").text(response.ShopUnitNo);
                    $("#Unit").val(response.ShopUnitNo);

                }
            });
        })
        $("#GroupPekerjaanCode").change(function () {
            var value = this;
            $.ajax({
                url: "/HouseKeeping/Quotation/AjaxGetGroupPekData?pekCode=" + value.value, success: function (response) {
                    $("#catPekerjaan").text(response.CategoryPekerjaan);
                    $("#typeofwork").text(response.TypeOfWork);
                    $("#CategoryPekerjaan").val(response.CategoryPekerjaan);
                }
            })
            //$("#typeofwork").text($("option:selected", this)[0].innerText);
        })
        $("#addQuotationDetail").click(function () {
            var ids = []; //multi select data array
            var ids2 = []; //multi select 2 data array
            var data2 = $("#multiselect2_to option").each(function () {
                code = this.value;
                ids2.push(code);

            })
            var data = $("#multiselect_to option").each(function () {
                code = this.value;
                ids.push(code);
            })
            $.ajax({
                type: "POST",
                url: '@Url.Action( MVC.HouseKeeping.Quotation.addQuotation())',
                data: JSON.stringify({
                    "multiselect_to": ids,
                    "multiselect2_to": ids2,
                    "GroupPekerjaanCode": $("#GroupPekerjaanCode").val(),
                    "CategoryPekerjaan": $("#CategoryPekerjaan").val(),
                    "PekerjaanCode": $("#PekerjaanCode").val(),
                    "ForemanQTY": $("#ForemanQTY").val(),
                    "CleanerQTY": $("#CleanerQTY").val(),
                    "Hours": $("#Hours").val(),
                    "QuotationID": $("#quotID").val()

                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    var append = $("#tblBody");
                    var txt = "<tr>";
                    txt = txt + "<td>" + response.CategoryPekerjaan + "</td>";
                    txt = txt + "<td>" + response.itemPekerjaan + "</td>";
                    txt = txt + "<td>" + response.equipmentList + "</td>";
                    txt = txt + "<td>" + response.chemicalList + "</td>";
                    txt = txt + "<td>" + response.ForemanQTY + "</td>";
                    txt = txt + "<td>" + response.CleanerQTY + "</td>";
                    txt = txt + "<td>" + response.Hours + "</td>";
                    txt = txt + "<td>" + response.basicPrice + "</td>";
                    txt = txt + "<td>" + response.TotalPrice + "</td>";
                    txt = txt + "</tr>"
                    append.append(txt);
                    var total = $("#GrandTotal").val();
                    total = parseInt(total) + parseInt(response.TotalPrice);

                    $("#GrandTotal").val(total);
                    $("#NettPrice").val(total);
                    if ($("#PPN")[0].checked) {
                        var ppn = parseInt(total);
                        ppn = (total * 10) / 100;
                        $("#PPNPrice").val(Math.ceil(ppn));
                        var nettPrice = $("#NettPrice").val();
                        var Nett = parseInt(nettPrice) + Math.ceil(ppn);
                        $("#NettPrice").val(Nett);
                    }
                },
                error: {

                }
            });
        })
        $('#PPN').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                $("#IsPPN").val(true);
                var total = $("#GrandTotal").val();
                var ppn = parseInt(total);
                ppn = (total * 10) / 100;
                $("#PPNPrice").val(Math.ceil(ppn));
                var nettPrice = $("#NettPrice").val();
                var Nett = parseInt(nettPrice) + Math.ceil(ppn);
                $("#NettPrice").val(Nett);
            }
        });
        var isChecked = $("#PPN").prop('checked')
        if (isChecked) {
            var total = $("#GrandTotal").val();
            var ppn = parseInt(total);
            ppn = (total * 10) / 100;
            $("#PPNPrice").val(Math.ceil(ppn));
        }

    })
</script>
