﻿@model PIRApps.data.ItemChecking
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.Security.ItemChecking.ItemCheckingList())">Item Checking List</a></li>
                <li class="active"><a href="tables-data.html">Item Checking Add Edit</a></li>
            </ol>
            <div class="page-heading">
                <h1>Item Checking</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Item Checking Input</h2>
                                    <div class="panel-ctrls">

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                            @using (Html.BeginForm(MVC.Security.ItemChecking.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                            {
                                                <div class="form-group">
                                                    @Html.HiddenFor(x => x.ItemCheckingCode)
                                                    <label for="focusedinput" class="col-sm-2 control-label">Subportofolio</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="Subportofolio">
                                                            @if (Model.Subportofolio == "SPC")
                                                            {
                                                                <option value="SPC" selected>SPC</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="SPC">SPC</option>
                                                            }
                                                            @if (Model.Subportofolio == "OFT")
                                                            {
                                                                <option value="OFT" selected>OFT</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="OFT">OFT</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Item Area Code</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="AreaCode">
                                                            @if (Model.AreaCode == "OTS")
                                                            {
                                                                <option value="OTS" selected>OTS - Outside</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="OTS">OTS - Outside</option>
                                                            }
                                                            @if (Model.AreaCode == "INS")
                                                            {
                                                                <option value="INS" selected>INS - Inside</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="INS">INS - Inside</option>
                                                            }
                                                            @if (Model.AreaCode == "LBY")
                                                            {
                                                                <option value="LBY" selected>LBY - Lobby</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="LBY">LBY - Lobby</option>
                                                            }
                                                            @if (Model.AreaCode == "LOD")
                                                            {
                                                                <option value="LOD" selected>LOD - Loading Dock</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="LOD">LOD - Loading Dock</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Item Type Area</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="TypeArea">
                                                            @if (Model.TypeArea == "CRC")
                                                            {
                                                                <option value="CRC" selected>Car Checking</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="CRC">Car Checking</option>
                                                            }
                                                            @if (Model.TypeArea == "ENT")
                                                            {
                                                                <option value="ENT" selected>Entrance</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="ENT">Entrance</option>
                                                            }
                                                            @if (Model.TypeArea == "LDV")
                                                            {
                                                                <option value="LDV" selected>Loading Dock Vehicle</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="LDV">Loading Dock Vehicle</option>
                                                            }
                                                            @if (Model.TypeArea == "LDE")
                                                            {
                                                                <option value="LDE" selected>Loading Dock Entrance</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="LDE">Loading Dock Entrance</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Item Description</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextAreaFor(x => x.ItemDescription, new { @class = "form-control", @placeholder = "Item Description", @required = "required" })
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group row">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Status</label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.Status, "--select one--", new { @class = "form-control required", required = "" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <button type="submit" confirm="are you sure?" class="btn btn-raised btn-primary" onclick="return confirm('Are you sure?')">Submit</button>
                                                        <a href="@Url.Action(MVC.Security.ItemChecking.ItemCheckingList())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>
