﻿@model List<PIRApps.data.LocationMaster>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
    var privilege = (PIRApps.model.PrivilegeModel)ViewBag.privilege;
}
<script src="~/assets/js/jquery-1.11.3.min.js"></script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">

                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="#">Location</a></li>
                <li class="active"><a href="tables-data.html">Location List</a></li>
            </ol>
            <div class="page-heading">
                <h1>Location</h1>
            </div>

            <div class="container-fluid">
                <div class="col-md-12">
                    @if (privilege.CreateData == "Y")
                    {
                        <a href="@Url.Action(MVC.Location.AddEdit(0))" style="margin-bottom:10px" class="btn btn-success btn-fab demo-switcher-fab" data-toggle="tooltip" data-placement="top" title="Add New Location"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                    }
                </div>
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Location List</h2>
                                    <div class="panel-ctrls"></div>
                                </div>
                                <div class="panel-body no-padding">
                                    <div class="col-md-12" id="divTable">
                                        <table id="grid"></table>
                                        <div id="pager"></div>
                                    </div>
                   
                                </div>
                                @Html.Hidden("canEdit", privilege.UpdateData)
                                @Html.Hidden("canDelete", privilege.DeleteData)
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .container-fluid -->
        </div> <!-- #page-content -->
    </div>
</div>
<script>
 $(document).ready(function () {
        $("#grid").jqGrid({
            datatype: 'JSON',
            url: "@Url.Action(MVC.Location.AjaxGetLocationData())",
            mtype: "POST",
           colNames: ['Location ID','Location Name', ''],
            colModel: [
                { key: true, Name: true, name: 'LocationID', editable: false, hidden: true, width: 300, sortable: false },
                { key: false, name: 'LocationName', editable: false, width: 400, sortable: false, hidden: false },
                { name: 'detail', search: false, index: 'RequestId', width: 30, sortable: false, formatter: detailLink },
            ],
            pager: '#pager',
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '80%',
            width: '70%',
            rownumbers: true,
            gridview: true,
            viewrecords: true,
            caption: 'Location LISTS',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id",
                userdata: "userdata",
            },
            multiselect: false,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 100);
            }
        })
        $("#grid").setGridWidth($('#divTable').width(), true);
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);
        $(window).bind('resize', function () {
            jQuery("#grid").setGridWidth($('#divTable').width(), true);
        }).trigger('resize');
        function detailLink(cellValue, options, rowdata, action) {
            var OptionCollection = "";
            if ($("#canEdit").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.Location.AddEdit())/?LocationID=" + rowdata.LocationID + "' data-toggle='tooltip' title='edit Location'><i class='ace-icon fa fa-pencil-square-o blue' aria-hidden='true' style='font-size:20px'></i></a>";
            }
            if ($("#canDelete").val() == "Y") {
                var string = "confirmation_Dialog_Location('" + rowdata.LocationID + "')"
                OptionCollection += "<a onClick=" + string + " data-toggle='tooltip' title='remove Location'><i class='ace-icon fa fa-times blue' aria-hidden='true' style='font-size:20px'></i></a>";
            }
            @*if ($("#canEdit").val() == "Y" && rowdata.WorkFlowStatus != "S") {
                OptionCollection += "<a href='@Url.Action(MVC.ITAsset.AddEdit())/?BarcodeNo=" + rowdata.BarcodeNumber + "' data-toggle='tooltip' title='Edit Asset'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a><a href='@Url.Action(MVC.ITAsset.AssignAssetDetail())/?BarcodeNo=" + rowdata.BarcodeNumber + "' data-toggle='tooltip' title='Assign Asset'><i class='fa fa-tasks' aria-hidden='true'></i></a>";
                return OptionCollection;
            }
            else
            {
                return OptionCollection;
            }*@
            return OptionCollection

        }
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
        //function StatusStyle(cellValue, options, rowdata, action) {
        //    if (cellValue == "D") {
        //        return '<span class="form-control bg-blue">' + "OPEN" + "</span>";
        //    }
        //    else if (cellValue == "T") {
        //        return '<span class="form-control bg-green">' + "TAKEN" + "</span>";
        //    }
        //    else if (cellValue == "S") {
        //        return '<span class="form-control bg-red">' + "SUBMITTED" + "</span>";
        //    }
        //    else if (cellValue == "C")
        //    {
        //        return '<span class="form-control bg-red">' + "CLOSED" + "</span>";
        //    }

        //}
    })
</script>

