﻿@model List<PIRApps.data.WorkFlowTransaction>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li class="active"><a href="#">WorkFlow List</a></li>
            </ol>
            <div class="page-heading">
                <h2>Work Flow</h2>
            </div>
            <div class="col-md-12">
                <a href="@Url.Action(MVC.WorkFlow.WorkFlowHistoryList())" class="btn btn-danger" style="margin-bottom:10px" data-toggle="tooltip" data-placement="top" title="View Workflow History"><i class="fa fa-list" aria-hidden="true"></i></a>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-ctrls"></div>
                                </div>
                                <div class="panel-body no-padding">
                                    @if (Model.Count > 0)
                                    {
                                        <table id="tblWF" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>WorkFlow Name</th>
                                                    <th>Create Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="odd gradeX">
                                                        <td>@index</td>
                                                        <td>@item.WorkFlowName</td>
                                                        <td>@item.CreatedDate</td>
                                                        <td>
                                                            <a href="@Url.Action(MVC.WorkFlow.WorkFlowDetail(item.WorkFlowId))" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="View Detail"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                            <a href="@Url.Action(MVC.WorkFlow.SetApproveWorkflow(item.WorkFlowId))" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Approve" onclick="return confirm('Are you sure?')"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                    index++;
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <form class="form-group">
                                            <h3>You dont have any WorkFlow!</h3>
                                        </form>

                                    }
                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .container-fluid -->
        </div> <!-- #page-content -->
    </div>
</div>