﻿@model PIRApps.data.WorkFlowTransaction
@{
    ViewBag.Title = "WorkFlowDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var historyList = (List<PIRApps.data.WorkFlowHistory>)ViewBag.History;
    var keyfield = (PIRApps.data.WorkFlowRule)ViewBag.KeyField;
    var index = 1;
    string key = keyfield.KeyField;
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.WorkFlow.List())">Work Flow List</a></li>
                <li class="active"><a href="tables-data.html">Work Flow Detail</a></li>
            </ol>
            <div class="page-heading">
                <h1></h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>WorkFlow Detail</h2>
                                    <div class="panel-ctrls">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    @if (Model.KeytTableID.Contains("HK"))
                                    {
                                        @Html.Action(Model.DetailAction, Model.DetailController, new { keyno = Model.KeytTableID, area = "HouseKeeping" })
                                    }
                                    else
                                    {
                                        @Html.Action(Model.DetailAction, Model.DetailController, new { keyno = Model.KeytTableID })
                                    }
                                    
                         
                                    @if (historyList.Count > 0)
                                    {
                                        <p>History : </p>
                                        <table id="tblWF" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Date</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in historyList)
                                                {
                                                    <tr class="odd gradeX">
                                                        <td>@index</td>
                                                        <td>@item.WorkFlowHistoryDate</td>
                                                        <td>@item.WorkFlowHistoryMessage by @item.WorkFlowHistoryBy</td>
                                                    </tr>
                                                    index++;
                                                }
                                            </tbody>
                                        </table>
                                       
                                    }
                                    @if (Model.WorkFlowStatus != "APPROVED" && Model.WorkFlowStatus != "REJECTED")
                                    {
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <a href="@Url.Action(MVC.WorkFlow.SetApproveWorkflow(Model.WorkFlowId))" onclick="return confirm('Approve workflow?')"> <button type="button" class="btn btn-raised btn-primary">Approve</button> </a>
                                                <button type="button" class="btn btn-raised btn-danger" data-toggle="modal" data-target="#myModal">Reject</button>
                                                <a href="@Url.Action(MVC.WorkFlow.List())"> <button type="button" class="btn btn-raised btn-primary">Back</button> </a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <a href="@Url.Action(MVC.WorkFlow.WorkFlowHistoryList())"> <button type="button" class="btn btn-raised btn-primary">Back</button> </a>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reason For rejection</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(MVC.WorkFlow.SetRejectWorkFlow(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="focusedinput" class="col-sm-2 control-label">Reason</label>
                        <div class="col-sm-8">
                            @Html.TextArea("Reason", new { @placeholder = "Reason for Rejection", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                    </div>
                    @Html.Hidden("id", Model.WorkFlowId)
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
