﻿
@{
    ViewBag.Title = "WorkFlowHistoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#grid").jqGrid({
            datatype: 'JSON',
            url: "@Url.Action(MVC.WorkFlow.AjaxGetWorkFlowHistoryData())",
            mtype: "POST",
            colNames: ['Workflowid','WorkFlow Name','Work Flow Module', 'Status','Date', ''],
            colModel: [
                { key: true, Name: true, name: 'WorkFlowId', editable: false, hidden: true, width: 300 },
                { key: false, name: 'WorkFlowName', editable: false, width: 100},
                { key: false, name: 'UniqueIdentifier', editable: false, width: 200 },
                { key: false, name: 'WorkFlowStatus', editable: false, width: 200 },
                { key: false, name: 'UpdatedDate', editable: false, width: 300, formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd/m/Y' }},
                { name: 'detail', search: false, index: 'RequestId', width: 30, sortable: false, formatter: detailLink },
            ],
            pager: '#pager',
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '80%',
            width: '70%',
            rownumbers: true,
            gridview: true,
            viewrecords: true,
            caption: 'TICKET LISTS',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id",
                userdata: "userdata",
            },
            multiselect: false,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 100);
            }
        })

        $("#grid").setGridWidth($('#divTable').width(), true);
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);
        $(window).bind('resize', function () {
            jQuery("#grid").setGridWidth($('#divTable').width(), true);
        }).trigger('resize');
        function detailLink(cellValue, options, rowdata, action) {
            return "<a href='@Url.Action(MVC.WorkFlow.WorkFlowDetail())/" + rowdata.WorkFlowId + "' data-toggle='tooltip' title='View WorkFlow Detail'><i class='ace-icon fa fa-eye blue' aria-hidden='true'></i></a>";
        }
        var elems = document.getElementsByClassName('confirmation');
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
    })
</script>
<div class="page-content">
    <ol class="breadcrumb">

        <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
        <li><a href="@Url.Action(MVC.WorkFlow.List())">Work Flow List</a></li>
        <li class="active">Work Flow History List</li>
    </ol>
    <div class="page-heading">
        <h1>WorkFlow History</h1>
    </div>
    <div class="container-fluid">
        <div data-widget-group="group1">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>List</h2>
                            <div class="panel-ctrls"></div>
                        </div>

                        <div class="panel-body no-padding">
                            <div class="col-md-12" id="divTable">
                                <table id="grid"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container-fluid -->
</div> 

