﻿@model PIRApps.data.SecurityApproval
@{
    ViewBag.Title = "ViewApprovalDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logsheet = (PIRApps.data.SecurityLogsheet)ViewBag.Logsheet;
    var condition = (List<PIRApps.data.MasterConditionSecurity>)ViewBag.Condition;
    var securityitem = (List<PIRApps.data.ItemCheckingItem>)ViewBag.securityItem;
    var checklist = (List<PIRApps.data.LogsheetChecklist>)ViewBag.Logsheetcheck;
    var img = (List<PIRApps.data.LogsheetImage>)ViewBag.LogsheetImg;
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.Security.ItemChecking.ItemCheckingList())">Item Checking List</a></li>
                <li class="active"><a href="tables-data.html">Item Checking Add Edit</a></li>
            </ol>
            <div class="page-heading">
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Approval Detail</h2>
                                    <div class="panel-ctrls">

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                            @using (Html.BeginForm(MVC.Security.Approval.ApproveOrRejectApproval(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                            {
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Logsheet ID:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.LogsheetID</label>
                                                        @Html.HiddenFor(x => x.ApprovalID)
                                                        @Html.HiddenFor(x => x.ApprovalFormID)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Date:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@DateTime.Now</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Security Name:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityName</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Shift:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.Shift</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Subportofolio:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.Subportfolio</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Area:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.AreaCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Type:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.TypeCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Floor:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.Floor</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Location Code:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.LocationCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Location Name:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.LocationName</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Callsign:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.Callsign</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Item Checking Code:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.SecurityLocation.ItemCheckingCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Status:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@logsheet.WorkFlowStatus</label>
                                                    </div>
                                                </div>
                                                foreach (var item in condition)
                                                {

                                                    var itemlist = securityitem.Where(x => x.Conditioncode == item.ConditionCode).ToList();

                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Condition:</label>
                                                        <div class="col-sm-8">
                                                            <label for="focusedinput" class="control-label"><b>@item.ConditionDesc</b></label>
                                                        </div>
                                                    </div>
                                                    <div class="tablecontainer">
                                                        <table class="table table-condensed table-striped table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th class="ths">No</th>
                                                                    <th class="ths">Item</th>
                                                                    <th class="ths">Checklist</th>
                                                                    <th class="ths">Remark</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (itemlist.Count() > 0)
                                                                {
                                                                    for (int i = 0; i < itemlist.Count(); i++)
                                                                    {
                                                                        var no = i + 1;

                                                                        var name = "check" + itemlist[i].ItemCheckingItem1;
                                                                        var namer = "remark" + itemlist[i].ItemCheckingItem1;
                                                                        var check = checklist.FirstOrDefault(x => x.ItemChecking == itemlist[i].ItemCheckingItem1);
                                                                        <tr>
                                                                            <td>@no</td>
                                                                            <td>@itemlist[i].Item</td>
                                                                            @if (check != null)
                                                                            {
                                                                                <td><input type="checkbox" class="form-check-input" name="@name" checked="checked" /></td>
                                                                                <td><input type="text" class="form-control" value="@check.Remark" name="@namer" /></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td><input type="checkbox" class="form-check-input" name="@name" /></td>
                                                                                <td><input type="text" class="form-control" value="" name="@namer" /></td>
                                                                            }

                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                                if (logsheet.WorkFlowStatus == "DRAFT")
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-8">
                                                            <p><b>Upload Image</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Select File</label>
                                                        <div class="col-sm-8">
                                                            <input id="input-1" type="file" class="file" name="File" multiple>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-8">
                                                            <p><b> Image</b></p>
                                                        </div>
                                                    </div>
                                                    if (img.Count > 0)
                                                    {
                                                        <div class="form-group">
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-8">
                                                                @foreach (var item in img)
                                                                {
                                                                    <img src="@item.Url" style="height:200px;width:200px" />
                                                                }
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Remark:</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextAreaFor(x => x.ApprovalRemark, new { @class = "form-control", @placeholder = "Remark", @required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <button type="submit" class="btn btn-sm btn-danger" name="command" onclick="return confirm('Are you sure?')" value="reject">Reject</button>
                                                        <button type="submit" class="btn btn-sm btn-success" name="command" onclick="return confirm('Are you sure?')" value="approve">Approve</button>
                                                        <a href="@Url.Action(MVC.Security.Approval.List())"><button type="button" class="btn btn-sm btn-primary">Close</button> </a>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>

