﻿@model PIRApps.data.UserGroup
@{
    ViewBag.Title = "GroupAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-content-wrapper">
<div class="static-content">
    <div class="page-content">
        <ol class="breadcrumb">
            <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
            <li><a href="@Url.Action(MVC.User.UserGroupList())">User Group List</a></li>
            <li class="active"><a href="tables-data.html">User Group Input</a></li>
        </ol>
        <div class="page-heading">
            <h1>User Group</h1>
        </div>
        <div class="container-fluid">
            <div data-widget-group="group1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>User Group Input</h2>
                                <div class="panel-ctrls"></div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="horizontal-form">
                                        @using (Html.BeginForm(MVC.User.GroupAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                        {
                                            <div class="form-group">
                                                <label for="focusedinput" class="col-sm-2 control-label">User Group Name</label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(x => x.UserGroupName, new { @class = "form-control", @placeholder = "User Group Name" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                                                    <a href="@Url.Action(MVC.User.UserGroupList())"> <button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .container-fluid -->
        </div> <!-- #page-content -->
    </div>
</div>

</div>


