﻿
@{
    ViewBag.Title = "WorkFlowMasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var privilege = (PIRApps.model.PrivilegeModel)ViewBag.privilege;
}
<script src="~/assets/js/jquery-1.11.3.min.js"></script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li class="active">Review & Approve Master</li>
            </ol>
            <div class="page-heading">
                <h1>Review & Approve Master</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Departement List</h2>
                                    <div class="panel-ctrls"></div>
                                </div>
                                <div class="panel-body no-padding">
                                    <div class="col-md-12" id="divTable">
                                        <table id="grid"></table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .container-fluid -->
        </div> <!-- #page-content -->
    </div>
</div>
@Html.Hidden("isAdmin", privilege.IsAdmin, new { @id = "isAdmin" })
<script>
    $(document).ready(function () {
         $("#grid").jqGrid({
            datatype: 'JSON',
            url: "@Url.Action(MVC.WorkFlowMaster.AjaxGetWorkFlowMasterData())",
            mtype: "POST",
           colNames: ['Module ID','Module Name', 'Approve Level',''],
            colModel: [
                { key: true, Name: true, name: 'ModuleID', editable: false, hidden: true, width: 300, sortable: false },
                { key: false, name: 'ModuleName', editable: false, width: 400, sortable: false, hidden: false },
                { key: false, name: 'ApproveLevel', editable: false, width: 400, sortable: false, hidden: false},
                { name: 'detail', search: false, index: 'RequestId', width: 30, sortable: false, formatter: detailLink },
            ],
            pager: '#pager',
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '80%',
            width: '70%',
            rownumbers: true,
            gridview: true,
            viewrecords: true,
            caption: 'Workflow Master LISTS',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id",
                userdata: "userdata",
            },
            multiselect: false,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 100);
            }
        })
        $("#grid").setGridWidth($('#divTable').width(), true);
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);
        $(window).bind('resize', function () {
            jQuery("#grid").setGridWidth($('#divTable').width(), true);
        }).trigger('resize');
        function detailLink(cellValue, options, rowdata, action) {
            var OptionCollection = "";
            @*if ($("#canEdit").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.Departement.AddEdit())/?DepartementID=" + rowdata.DepartementID + "' data-toggle='tooltip' title='edit Departement'><i class='ace-icon fa fa-pencil-square-o blue' aria-hidden='true'></i></a>";
            }
            if ($("#canDelete").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.Departement.DeleteDepartement())/?DepartementID=" + rowdata.DepartementID + "' data-toggle='tooltip' title='remove Departement'><i class='ace-icon fa fa-times blue' aria-hidden='true'></i></a>";
            }*@
            if ($("#isAdmin").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.WorkFlowMaster.EditRule())/?moduleID=" + rowdata.ModuleID + "' data-toggle='tooltip' style='font-size:20px' title='Edit Asset'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a>";
                return OptionCollection;
            }
            
            return OptionCollection

        }
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
    });
</script>

