﻿@model  PIRApps.data.WOR
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quotationCode = (String)ViewBag.quotCod;
    var NettPrices = (decimal)ViewBag.NettPrices;
}

<link href="~/assets/plugins/Two-side-Multi-Select-Plugin-with-jQuery-multiselect-js/css/style.css" rel="stylesheet" />
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.HouseKeeping.Quotation.List())">Quotation List</a></li>
                <li class="active"><a href="tables-data.html">Quotation Add Edit</a></li>
            </ol>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>WOR</h2>
                                    <div class="panel-ctrls">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">

                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="focusedinput" class="col-sm-2 control-label">Quotation ID</label>
                                                <div class="col-sm-3">

                                                    <label class="control-label">@quotationCode</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="focusedinput" class="col-sm-2 control-label">COA</label>
                                                <div class="col-sm-5">

                                                    <label class="control-label">(0023200199 - OPERATING OTHER INCOME)</label>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Action("ViewQuotationPartial", "Quotation", new { area = "HouseKeeping", code = (string)ViewBag.quotCod })
                                        @using (Html.BeginForm(MVC.HouseKeeping.WOR.CreateWOR(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                        {
                                            @Html.Hidden("QuotationID", (string)ViewBag.quotCod)
                                            <input type="hidden" id="NettPriceFin" name="NettPriceFin" value="@NettPrices" />
                                                <input type="hidden" id="NettPriceOld" name="NettPriceOld" value="@NettPrices" />
                                                <div class="row">
                                                    <div class="pull-right">
                                                        <div class="form-group">
                                                            <label for="focusedinput" class="col-sm-5 control-label">Discount %</label>
                                                            <div class="col-md-5">
                                                                @Html.TextBox("DiscountRate", "", new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="focusedinput" class="col-sm-5 control-label">Discount Value</label>
                                                            <div class="col-md-5">
                                                                @Html.TextBox("DiscountValue", "", new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label"><b>Tenant Information</b></label>
                                                        <label for="focusedinput" class="col-sm-7 control-label"><b>Work Information</b></label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Paid By</label>
                                                        <div class="col-md-3">
                                                            @Html.DropDownListFor(x => x.PaidBy, (List<SelectListItem>)ViewBag.paidBy, "--select one--", new { @class = "form-control required", required = "" })
                                                        </div>
                                                        <label for="focusedinput" class="col-sm-2 control-label">Estimation Work Start Date</label>
                                                        <div class="col-md-3">
                                                            @Html.TextBox("WorkDateEstimation", "", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Shop Vendor Name</label>
                                                        <div class="col-md-3">
                                                            <select class="form-control required" id="NameShop" name="ShopVendorName" required>
                                                                <option value="">-- Select One --</option>
                                                            </select>
                                                        </div>
                                                        <label for="focusedinput" class="col-sm-2 control-label">Work Order Description</label>
                                                        <div class="col-md-3">
                                                            @Html.TextArea("WorkOrderDescription", "", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Company</label>
                                                        <div class="col-md-3">
                                                            @Html.TextBox("Company", "", new { @class = "form-control" })
                                                        </div>
                                                        <label for="focusedinput" class="col-sm-2 control-label">Remark</label>
                                                        <div class="col-md-3">
                                                            @Html.TextArea("Remark", "", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Address</label>
                                                        <div class="col-md-3">
                                                            @Html.TextArea("Address", "", new { @class = "form-control" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        @if (Model.ApprovalStatus != "C" && Model.ApprovalStatus != "S")
                                                        {
                                                            <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                                                        }
                                                        <a href="@Url.Action(MVC.HouseKeeping.Quotation.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>'
                                                    </div>
                                                </div>
                                        }
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#WorkDateEstimation").datepicker();
        $("#PaidBy").change(function () {
            var value = this.value;
            $.ajax({
                url: "/HouseKeeping/WOR/CascadeDropdownPaidBy?value=" + value, success: function (response) {
                    //alert(response)
                    $.each(response, function (index, value) {
                        var append = $("#NameShop");
                        var txt = "<option val=" + value.value + ">";
                        txt = txt + value.text + "</option>"
                        append.append(txt);
                    });
                }
            });
        })
        $("#DiscountRate").keyup(function () {
            var value = this.value;
            TotalPrice = $("#NettPriceOld").val();
            var compute = Math.ceil((TotalPrice * value) / 100);
            var Nett = TotalPrice - compute;
            $("#DiscountValue").val(compute);
            $("#NettPriceFin").val(compute);
            $("#NettPrice").val(Nett);
        })
        $("#DiscountValue").keyup(function () {
            var value = this.value;
            TotalPrice = $("#NettPriceOld").val();
            var compute = Math.ceil((value / TotalPrice) * 100);
            var Nett = TotalPrice - compute;
            $("#DiscountRate").val(compute);
            $("#NettPriceFin").val(compute);
            $("#NettPrice").val(Nett);
        })
    })
</script>