﻿@model PIRApps.data.SecurityLogsheet
@{
    ViewBag.Title = "EditLogsheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var picname = (string)ViewBag.PICName;
    var condition = (List<PIRApps.data.MasterConditionSecurity>)ViewBag.Condition;
    var securityitem = (List<PIRApps.data.ItemCheckingItem>)ViewBag.securityItem;
    var checklist = (List<PIRApps.data.LogsheetChecklist>)ViewBag.Logsheetcheck;
    var img = (List<PIRApps.data.LogsheetImage>)ViewBag.LogsheetImg;
    var time = DateTime.Now;
    var shiftPagi = Convert.ToDateTime("03:00:00 PM");
    var shiftSiang = Convert.ToDateTime("10:00:00 PM");
    var shiftMalam = Convert.ToDateTime("06:00:00 AM");
    var reffrences = (string)ViewBag.reff;
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#input-1").fileinput({
            uploadAsync: true,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            showUpload: false
        });
    });
</script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.Security.ItemChecking.ItemCheckingList())">Item Checking List</a></li>
                <li class="active"><a href="tables-data.html">Item Checking Add Edit</a></li>
            </ol>
            <div class="page-heading">
                <h1>Item Checking</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Item Checking Input</h2>
                                    <div class="panel-ctrls">

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                            @using (Html.BeginForm(MVC.Security.LogSheet.EditLogsheet(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                            {
                                                @Html.Hidden("reff",reffrences)
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Logsheet ID:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.LogsheetID</label>
                                                        @Html.HiddenFor(x => x.LogsheetID)
                                                        
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Date:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@DateTime.Now</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Security Name:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@picname</label>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Shift:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.Shift</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Subportofolio:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.Subportfolio</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Area:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.AreaCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Type:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.TypeCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Floor:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.Floor</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Location Code:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.LocationCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Location Name:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.LocationName</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Callsign:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.Callsign</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Item Checking Code:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.SecurityLocation.ItemCheckingCode</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Status:</label>
                                                    <div class="col-sm-8">
                                                        <label for="focusedinput" class="control-label">@Model.WorkFlowStatus</label>
                                                    </div>
                                                </div>
                                                foreach (var item in condition)
                                                {

                                                    var itemlist = securityitem.Where(x => x.Conditioncode == item.ConditionCode).ToList();

                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Condition:</label>
                                                        <div class="col-sm-8">
                                                            <label for="focusedinput" class="control-label"><b>@item.ConditionDesc</b></label>
                                                        </div>
                                                    </div>
                                                    <div class="tablecontainer">
                                                        <table class="table table-condensed table-striped table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th class="ths">No</th>
                                                                    <th class="ths">Item</th>
                                                                    <th class="ths">Checklist</th>
                                                                    <th ckass="ths">Remark</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (itemlist.Count() > 0)
                                                                {
                                                                    for (int i = 0; i < itemlist.Count(); i++)
                                                                    {
                                                                        var no = i + 1;

                                                                        var name = "check" + itemlist[i].ItemCheckingItem1;
                                                                        var namer = "remark" + itemlist[i].ItemCheckingItem1;
                                                                        var check = checklist.FirstOrDefault(x => x.ItemChecking == itemlist[i].ItemCheckingItem1);

                                                                        <tr>
                                                                            <td>@no</td>
                                                                            <td>@itemlist[i].Item</td>
                                                                            @if (check != null)
                                                                            {
                                                                                <td><input type="checkbox" class="form-check-input" name="@name" checked="checked" required/></td>
                                                                                <td><input type="text" class="form-control" value="@check.Remark" name="@namer" /></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td><input type="checkbox" class="form-check-input" name="@name" required/></td>
                                                                                <td><input type="text" class="form-control" value="" name="@namer" /></td>
                                                                            }

                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                                if (Model.WorkFlowStatus == "DRAFT")
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-8">
                                                            <p><b>Upload Image</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Select File</label>
                                                        <div class="col-sm-8">
                                                            <input id="input-1" type="file" class="file" name="File" multiple required>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-8">
                                                            <p><b> Image</b></p>
                                                        </div>
                                                    </div>
                                                    if (img.Count > 0)
                                                    {
                                                        <div class="form-group">
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-8">
                                                                @foreach (var item in img)
                                                                {
                                                                    <img src="@item.Url" style="height:200px;width:200px" />
                                                                }
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        @if (Model.WorkFlowStatus == "DRAFT")
                                                        {
                                                            if (Model.CreatedDate <= DateTime.Now)
                                                            {
                                                                if (Model.Shift.ToLower() == "pagi")
                                                                {
                                                                    if (time <= shiftPagi)
                                                                    {
                                                                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                                                                    }

                                                                }
                                                                if (Model.Shift.ToLower() == "siang")
                                                                {
                                                                    if (time <= shiftSiang)
                                                                    {
                                                                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                                                                    }

                                                                }
                                                                if (Model.Shift.ToLower() == "malam")
                                                                {
                                                                    if (time <= shiftMalam)
                                                                    {
                                                                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                                                                    }

                                                                }

                                                            }
                                                        }
                                                        <a href="@Url.Action(MVC.Security.LogSheet.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>
