﻿@model PIRApps.model.QuotationModel
@{
    Layout = null;
    var pekerjaanName = string.Empty;
    var itempekerjaan = PIRApps.data.CurrentDataContext.CurrentContext.Quotations.FirstOrDefault(x => x.QuotationID == Model.QuotationID);
    foreach (var item in itempekerjaan.QuotationItemPekerjaans)
    {
        if (pekerjaanName == string.Empty)
        {
            pekerjaanName = pekerjaanName + item.MsPekerjaan.PekerjaanName;
        }
        else
        {
            pekerjaanName = pekerjaanName + "," + item.MsPekerjaan.PekerjaanName;
        }
    }
}

<!DOCTYPE html>

<html>
<body>
    <div> 
        @*<b>QUOTATION</b><br />
        CHARGEABLE TO TENANT
        <div style="float:right">
            Date
        </div>*@
        <table>

            <tr>
                <td width="50%"><b>QUOTATION</b></td>
                <td width="50%">DATE: @DateTime.Now</td>
            </tr>
            <tr>
                <td width="50%">CHARGEABLE TO TENANT</td>
                <td width="50%"> Quotation ID: @Model.QuotationID</td>
            </tr>
            
        </table>
        <br />
        <hr />
        <br />
        <table>

            <tr>
                <td width="50%"><b>Shop Name : @Model.ShopName</b></td>
                <td width="50%">Tenant PIC : @Model.TenantPIC</td>
            </tr>
            <tr>
                <td width="50%">Company Name</td>
                <td width="50%">Contact No : @Model.ContantNo</td>
            </tr>
            <tr>
                <td width="50%">Floor : @Model.Floor</td>
                <td width="50%">Floor : @Model.Email</td>
            </tr>
            <tr>
                <td width="50%">Unit : @Model.Unit</td>
            </tr>
            <tr>
                <td width="50%">NPWP No : @Model.NPWP</td>
            </tr>
        </table>
        <br />
        <hr />
        <br />
        <table>
            <tr>
                <td>Dengan hormat,</td>
            </tr>
            <tr>
                <td>Menindak lanjuti hasil koordinasi siang  tadi,</td>
            </tr>
            <tr>
                <td>setelah melakukan survey area terkait rencana penggunaan jasa gedung untuk</td>
            </tr>
            <tr>
                <td>melakukan Cleaning @Model.Unit @Model.ShopName, dengan ini kami kirimkan penawaran sebagai berikut : </td>
            </tr>
            <tr>
                <td>Biaya @pekerjaanName</td>
            </tr>
            <tr>
                <td>sebesar @Model.NettPrice sudah termasuk : </td>
            </tr>
            <tr>
                <td>[</td>
            </tr>
            <tr>
                <td>- PPN – 10% </td>
            </tr>
            <tr>
                <td>- Biaya tenaga kerja  </td>
            </tr>
            <tr>
                <td>- Biaya penggunaan chemical dan  </td>
            </tr>
            <tr>
                <td>-  Biaya penggunaan peralatan / perlengkapan kerja  ]</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        Jakarta, @DateTime.Now.ToString("dd/MM/yyyy")
        <br />
        <br />
        <br />
        <br />
        Regards,
        <br />
        @itempekerjaan.CreatedBy
    </div>
   
</body>
</html>
