﻿@model PIRApps.data.MsChemical
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.HouseKeeping.Chemical.List())">Chemical List</a></li>
                <li class="active"><a href="tables-data.html">Chemical Add Edit</a></li>
            </ol>
            <div class="page-heading">
                <h1>Chemical</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Chemical Input</h2>
                                    <div class="panel-ctrls">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                            @using (Html.BeginForm(MVC.HouseKeeping.Chemical.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                            {
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Chemical Description</label>
                                                    <div class="col-sm-8">
                                                        @Html.HiddenFor(x => x.ChemicalCode)
                                                        @Html.TextAreaFor(x => x.ChemicalDesc, new { @class = "form-control", @placeholder = "Chemical Desc", @required = "required", data_parsley_type = "number" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Status</label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.Status, "--select one--", new { @class = "form-control required", required = "" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <button type="submit" confirm="are you sure?" class="btn btn-raised btn-primary" onclick="return confirm('Are you sure?')">Submit</button>
                                                        <a href="@Url.Action(MVC.HouseKeeping.Equipment.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>
