﻿@model PIRApps.data.GroupPekerjaanHeader
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itempekerjaan = (List<PIRApps.data.MsPekerjaan>)ViewBag.ItemPekerjaan;
    var itemused = (List<PIRApps.data.GroupPekerjaanDetail>)ViewBag.ItemUsed;

}
<link href="~/assets/plugins/Two-side-Multi-Select-Plugin-with-jQuery-multiselect-js/css/style.css" rel="stylesheet" />
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.Security.UserGroup.List())">User Group List</a></li>
                <li class="active"><a href="tables-data.html">User Group Add Edit</a></li>
            </ol>
            <div class="page-heading">
                <h1>Pekerjaan Group</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Pekerjaan Group Input</h2>
                                    <div class="panel-ctrls">
                                        @using (Html.BeginForm(MVC.HouseKeeping.GroupPekerjaan.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetAddForm" }))
                                        {
                                            <div class="form-group row">
                                                <label for="focusedinput" class="col-sm-2 control-label">Subportofolio</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(x => x.Subportfolio, (List<SelectListItem>)ViewBag.subportfolios, "--select one--", new { @class = "form-control required", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="focusedinput" class="col-sm-2 control-label">Departement</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(x => x.Departement, (List<SelectListItem>)ViewBag.dept, "--select one--", new { @class = "form-control required", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="focusedinput" class="col-sm-2 control-label">Category Pekerjaan Code</label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(x => x.GroupPekerjaanCode, new { @class = "form-control", @placeholder = "Category Pekerjaan Code", @required = "required", data_parsley_type = "number" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="focusedinput" class="col-sm-2 control-label">Category Pekerjaan Name</label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(x => x.GroupPekerjaanName, new { @class = "form-control", @placeholder = "Category Pekerjaan Name", @required = "required", data_parsley_type = "number" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="focusedinput" class="col-sm-2 control-label">Category Pekerjaan</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(x => x.CategoryPekerjaan, (List<SelectListItem>)ViewBag.categorypekerjaans, "--select one--", new { @class = "form-control required", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="focusedinput" class="col-sm-2 control-label">Require of</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-4">
                                                        @Html.CheckBoxFor(x => x.IsManPower)
                                                        <label>Man Power</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.CheckBoxFor(x => x.IsChemical)
                                                        <label>Chemical</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="focusedinput" class="col-sm-2 control-label">Group List</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-5">
                                                        <label class="control-label">User</label>
                                                        <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                                                            @foreach (var item in itempekerjaan)
                                                            {
                                                                <option value="@item.PekerjaanCode">@item.PekerjaanCode - @item.PekerjaanName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label">Option</label>
                                                        <button type="button" id="multiselect_rightAll" class="btn btn-sm btn-block"><i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" id="multiselect_rightSelected" class="btn btn-sm btn-block"><i class="fa fa-angle-right"></i></button>
                                                        <button type="button" id="multiselect_leftSelected" class="btn btn-sm btn-block"><i class="fa fa-angle-left"></i></button>
                                                        <button type="button" id="multiselect_leftAll" class="btn btn-sm btn-block"><i class="fa fa-angle-double-left"></i></button>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label class="control-label">Group User</label>
                                                        <select name="mutliselect_to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                                                            @foreach (var item in itemused)
                                                            {
                                                                <option value="@item.MsPekerjaan.PekerjaanCode">@item.MsPekerjaan.PekerjaanCode - @item.MsPekerjaan.PekerjaanName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-raised btn-primary">Submit</button>
                                                        <a href="@Url.Action(MVC.HouseKeeping.GroupPekerjaan.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>
                                                    </div>
                                                </div>
                                        }
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#multiselect').multiselect();
    })
</script>