﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li class="active"><a href="tables-data.html">To Do List</a></li>
            </ol>
            <div class="page-heading">
                <h1>To Do List</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">

                                    <div class="panel-ctrls">

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <h1>INSIDE</h1>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="calendarToDoSearch" placeholder="Search To Do Inside">
                                        </div>
                                        <div class="tab-pane active" id="horizontal-form">
                                            <div id='calendarToDo' style="width:100%"></div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <h1>OUTSIDE</h1>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="calendarToDoSearchOut" placeholder="Search To Do Outside">
                                        </div>
                                        <div class="tab-pane active" id="horizontal-form">
                                            <div id='calendarToDoOut' style="width:100%"></div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <h1>LOADING DOCK</h1>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="calendarToDoLODSearch" placeholder="Search To Do Loading Dock">
                                        </div>
                                        <div class="tab-pane active" id="horizontal-form">
                                            <div id='calendarToDoLOD' style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#calendarToDo').fullCalendar({
            //defaultView: 'listWeek',
            //events: '/WorkOrder/GetWorkOderDate',
            //eventClick: function (calEvent, jsEvent, view) {
            //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
            //}
            defaultView: 'listDay',

            // customize the button names,
            // otherwise they'd all just say "list"
            views: {
                listYear: { buttonText: 'list day' }
            },

            header: {
                left: '',
                center: 'title',
                right: 'Day'
            },
            events: '@Url.Action(MVC.Security.ToDo.GetEvent())',
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" +"?id=" + calEvent.id + "&reff=todo";
            }
        });
        $("#calendarToDoSearch").keyup(function () {
            $("#calendarToDo").fullCalendar('destroy');
            $('#calendarToDo').fullCalendar({
                //defaultView: 'listWeek',
                //events: '/WorkOrder/GetWorkOderDate',
                //eventClick: function (calEvent, jsEvent, view) {
                //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
                //}
                defaultView: 'listDay',

                // customize the button names,
                // otherwise they'd all just say "list"
                views: {
                    listYear: { buttonText: 'list day' }
                },

                header: {
                    left: '',
                    center: 'title',
                    right: 'Day'
                },
            @*events: '@Url.Action(MVC.Security.ToDo.GetEvent())',*@
                eventSources: [

                    // your event source
                    {
                        url: '@Url.Action(MVC.Security.ToDo.GetEvent())',
                        type: 'POST',
                        data: {
                            insidesearch: $("#calendarToDoSearch").val(),
                        },
                        error: function () {
                            alert('there was an error while fetching events!');
                        },
                    }

                    // any other sources...

                ],
                eventClick: function (calEvent, jsEvent, view) {
                    window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" + "?id=" + calEvent.id + "&reff=todo";
                }
            })
        })
        $("#calendarToDoSearchOut").keyup(function () {
            $("#calendarToDoOut").fullCalendar('destroy');
            $('#calendarToDoOut').fullCalendar({
                //defaultView: 'listWeek',
                //events: '/WorkOrder/GetWorkOderDate',
                //eventClick: function (calEvent, jsEvent, view) {
                //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
                //}
                defaultView: 'listDay',

                // customize the button names,
                // otherwise they'd all just say "list"
                views: {
                    listYear: { buttonText: 'list day' }
                },

                header: {
                    left: '',
                    center: 'title',
                    right: 'Day'
                },
            @*events: '@Url.Action(MVC.Security.ToDo.GetEvent())',*@
                eventSources: [

                    // your event source
                    {
                        url: '@Url.Action(MVC.Security.ToDo.GetEventOut())',
                        type: 'POST',
                        data: {
                            outsidesearch: $("#calendarToDoSearchOut").val(),
                        },
                        error: function () {
                            alert('there was an error while fetching events!');
                        },
                    }

                    // any other sources...

                ],
                eventClick: function (calEvent, jsEvent, view) {
                    window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" + "?id=" + calEvent.id + "&reff=todo";
                }
            })
        })
        $('#calendarToDoOut').fullCalendar({
            //defaultView: 'listWeek',
            //events: '/WorkOrder/GetWorkOderDate',
            //eventClick: function (calEvent, jsEvent, view) {
            //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
            //}
            defaultView: 'listDay',

            // customize the button names,
            // otherwise they'd all just say "list"
            views: {
                listYear: { buttonText: 'list day' }
            },

            header: {
                left: '',
                center: 'title',
                right: 'Day'
            },
            events: '@Url.Action(MVC.Security.ToDo.GetEventOut())',
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" +"?id=" + calEvent.id + "&reff=todo";
            }
        });
        $("#calendarToDoLODSearch").keyup(function (e) {
            e.preventDefault();
            $("#calendarToDoLOD").fullCalendar('destroy');
            $('#calendarToDoLOD').fullCalendar({
                //defaultView: 'listWeek',
                //events: '/WorkOrder/GetWorkOderDate',
                //eventClick: function (calEvent, jsEvent, view) {
                //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
                //}
                defaultView: 'listDay',

                // customize the button names,
                // otherwise they'd all just say "list"
                views: {
                    listYear: { buttonText: 'list day' }
                },

                header: {
                    left: '',
                    center: 'title',
                    right: 'Day'
                },
            @*events: '@Url.Action(MVC.Security.ToDo.GetEvent())',*@
                eventSources: [

                    // your event source
                    {
                        url: '@Url.Action(MVC.Security.ToDo.GetEventLOD())',
                        type: 'POST',
                        data: {
                            lodsearch: $("#calendarToDoLODSearch").val(),
                        },
                        error: function () {
                            alert('there was an error while fetching events!');
                        },
                    }

                    // any other sources...

                ],
                eventClick: function (calEvent, jsEvent, view) {
                    window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" + "?id=" + calEvent.id + "&reff=todo";
                }
            })
        })
         $('#calendarToDoLOD').fullCalendar({
            //defaultView: 'listWeek',
            //events: '/WorkOrder/GetWorkOderDate',
            //eventClick: function (calEvent, jsEvent, view) {
            //    window.location.href = "/WorkOrder/EditWorkOrder/" + calEvent.id;
            //}
            defaultView: 'listDay',

            // customize the button names,
            // otherwise they'd all just say "list"
            views: {
                listYear: { buttonText: 'list day' }
            },

            header: {
                left: '',
                center: 'title',
                right: 'Day'
            },
            events: '@Url.Action(MVC.Security.ToDo.GetEventLOD())',
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action(MVC.Security.LogSheet.EditLogsheet())" +"?id=" + calEvent.id + "&reff=todo";
            }
        });
    })
</script>