﻿
@{
    ViewBag.Title = "LogsheetReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/jquery-1.11.3.min.js"></script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li>Report</li>
                <li class="active">Logshhet Report</li>
            </ol>
            <div class="page-heading">
                <h1>Search</h1>
            </div>
            <form action="@Url.Action()" method="post" class="form-horizontal" style="padding-top:30px">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" for="status">Location Name</label>
                    <div class="col-sm-5">@Html.TextBox("Location", "", new { @class = "form-control" })</div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" for="status">Callsign</label>
                    <div class="col-sm-5">@Html.TextBox("Callsign", "", new { @class = "form-control" })</div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" for="status">Tanggal</label>
                    <div class="col-sm-2">@Html.TextBox("from", "", new { @class = "form-control tgl" })</div>
                    <div class="col-sm-2">@Html.TextBox("to", "", new { @class = "form-control tgl" })</div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" for="status"></label>
                    <div class="col-sm-5">
                        <button class="btn btn-sm btn-info btn-flat" type="submit">Generate Report</button>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".tgl").datepicker();
    })
</script>
