﻿@model PIRApps.data.MasterOS
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var reff = (string)ViewBag.reff;
}
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.MasterOS.List())">OS List</a></li>
                <li class="active"><a href="tables-data.html">OS Add Edit</a></li>
            </ol>
            <div class="page-heading">
                <h1>Master OS</h1>
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>OS Input</h2>
                                    <div class="panel-ctrls"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="horizontal-form">
                                            @using (Html.BeginForm(MVC.MasterOS.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                            {
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Brand Name</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.OSName, new { @class = "form-control", @placeholder = "OS Name", @required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Brand Version</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.OSVersion, new { @class = "form-control", @placeholder = "OS Version"})
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="focusedinput" class="col-sm-2 control-label">Brand Version Desc</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.OSVersionDesc, new { @class = "form-control", @placeholder = "OS Version Desc", @required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <button type="submit" confirm="are you sure?" class="btn btn-raised btn-primary">Submit</button>
                                                        @if (reff == "asset")
                                                        { <a href="@Url.Action(MVC.ITAsset.AddEdit())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>}
                                                        else
                                                        { <a href="@Url.Action(MVC.MasterOS.List())"><button type="button" class="btn btn-raised btn-primary">Close</button> </a>}
                                                        
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(x => x.OSID)
                                                @Html.Hidden("reff",reff)
                                            }
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>

</div>
