﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
    var privilege = (PIRApps.model.PrivilegeModel)ViewBag.privilege;
    int userid = (int)ViewBag.UserId;
}
<script src="~/assets/js/jquery-1.11.3.min.js"></script>

<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li class="active">OS List</li>
            </ol>
            <div class="page-heading">
                <h1>Search</h1>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">

                    <div class="col-sm-12">
                        <label class="col-sm-2 control-label" for="status">OS Name</label>
                        <div class="col-sm-5">@Html.TextBox("OSName", "", new { @class = "form-control" })</div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <label class="col-sm-2 control-label" for="status">OS Desc</label>
                        <div class="col-sm-5">@Html.TextBox("OSVersionDesc", "", new { @class = "form-control" })</div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-sm btn-info btn-flat pull-left" type="button" id="btnSearch">Search</button>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                @if (privilege.CreateData == "Y")
                {
                    <a href="@Url.Action(MVC.MasterOS.AddEdit(0,""))" class="btn btn-success" data-toggle="tooltip" data-placement="top" style="margin-bottom:10px" title="Add New OS"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                }
            </div>
            <div data-widget-group="group1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>OS List</h2>
                                <div class="panel-ctrls"></div>
                            </div>
                            <div class="panel-body no-padding">
                                <div class="panel-body no-padding">
                                    <div class="col-md-12" id="divTable">
                                        <table id="grid"></table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                                @Html.Hidden("canEdit", privilege.CreateData)
                                @Html.Hidden("canDelete", privilege.DeleteData)
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </div> <!-- #page-content -->
</div>
<script>
    $(document).ready(function () {
    $("#btnSearch").click(function () {

        var myData = {
            OSName: $("#OSName").val(),
            OSVersion: $("#OSVersionDesc").val()
        };
        $("#grid").setGridParam({ url: "" }).trigger("reloadGrid");
        $("#grid").jqGrid("clearGridData", true);
        setTimeout(function () {
            $("#grid").setGridParam({ url: '/MasterOS/AjaxGetJSONData', datatype: "json", postData: { model: myData }, page: 1 }).trigger("reloadGrid", { fromServer: true, page: 1 });
        }, 100)


    })
    $("#grid").jqGrid({
        datatype: 'JSON',
        url: "@Url.Action(MVC.MasterOS.AjaxGetJSONData())",
        mtype: "POST",
        colNames: ['OS ID', 'OS Name','OS Desc', 'Created By', ''],
        colModel: [
            { key: true, Name: true, name: 'OSID', editable: false, width: 300, sortable: false },
            { key: false, name: 'OSName', editable: false, width: 400, sortable: false },
            { key: false, name: 'OSVersionDesc', editable: false, width: 400, sortable: false },
            { key: false, name: 'CreatedBy', editable: false, width: 400, sortable: false },
            { name: 'detail', search: false, index: 'RequestId', width: 30, sortable: false, formatter: detailLink },
        ],
        pager: '#pager',
        rowNum: 10,
        rowList: [10, 20, 30, 40],
        height: '80%',
        width: '70%',
        rownumbers: true,
        gridview: true,
        viewrecords: true,
        caption: 'OS LISTS',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            cell: "cell",
            id: "id",
            userdata: "userdata",
        },
        multiselect: false,
        loadComplete: function () {
            var table = this;
            setTimeout(function () {
                updatePagerIcons(table);
            }, 100);
        }
    })
     $("#grid").setGridWidth($('#divTable').width(), true);
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);
        $(window).bind('resize', function () {
            jQuery("#grid").setGridWidth($('#divTable').width(), true);
        }).trigger('resize');
        function detailLink(cellValue, options, rowdata, action) {
            var OptionCollection = "";
            if ($("#canEdit").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.MasterOS.AddEdit())/?OSID=" + rowdata.OSID + "' data-toggle='tooltip' title='Edit Processor'><i class='ace-icon fa fa-pencil-square-o' aria-hidden='true' style='font-size:20px'></i></a>";

            }
            if ($("#canDelete").val() == "Y") {
                var string = "confirmation_Dialog_OS('"  + rowdata.OSID + "')"
                OptionCollection += "<a onClick=" + string + " data-toggle='tooltip' title='Delete OS'><i class='ace-icon fa fa-times' aria-hidden='true' style='font-size:20px'></i></a>";
            }
            return OptionCollection;


        }
        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                    .datepicker({ format: 'yyyy-mm-dd', autoclose: true });
            }, 0);
        }
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

    })
</script>