﻿@model PIRApps.data.TicketMaster
@{
    ViewBag.Title = "ViewTaskDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var privilege = (PIRApps.model.PrivilegeModel)Session["privilege"];
    var History = (List<PIRApps.data.TaskHistory>)ViewBag.History;
    var index = 1;
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#input-1').on('fileuploaded', function (event, data, previewId, index) {
            $("#url").val(data.response);
            window.location.href = '@Url.Action(MVC.Ticket.InsertImgTicket())?TicketNo=' + '@Model.TicketNo' + '&imgid=' + data.response
        });
        $("#input-1").fileinput({
            uploadAsync: true,
            uploadUrl: '@Url.Action(MVC.Upload.upload())',
            showRemove: false,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            pluginOptions: {
                showRemove: false
            }
        });
    });
</script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb">
                <li><a href="@Url.Action(MVC.Dashboard.Index())">Home</a></li>
                <li><a href="@Url.Action(MVC.Ticket.ViewTask())">Task List</a></li>
                <li class="active"><a href="tables-data.html">Task Detail</a></li>
            </ol>
            <div class="page-heading">
            </div>
            <div class="container-fluid">
                <div data-widget-group="group1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Task Detail</h2>
                                    <div class="panel-ctrls">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    @Html.Action("ViewTicketDetailPartial", "Ticket", new { area = "", keyno = Model.TicketNo })
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6">
                                            @if (Model.PIC == privilege.UserId)
                                            {
                                                if (Model.Status != "S" && Model.Status != "C")
                                                {
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-8">
                                                            <p><b>Image Information</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Select File</label>
                                                        <input id="input-1" type="file" class="file" multiple>
                                                    </div>
                                                }
                                                if (Model.Status != "S" && Model.Status != "C")
                                                {
                                                    <a href="@Url.Action(MVC.Ticket.SetTaskAsDone(Model.TicketNo,privilege.ModulID))" onclick="return confirm('Are you sure?')"> <button type="button" class="btn btn-raised btn-primary">Set As Done</button> </a>
                                                }

                                            }
                                            <a href="@Url.Action(MVC.Ticket.ViewTask(privilege.UserId.GetValueOrDefault()))"> <button type="button" class="btn btn-raised btn-primary">Back</button> </a>

                                        </div>


                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <p><b>History Log:</b> </p>
                                <table id="tblWF" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in History)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@index</td>
                                                <td>@item.LogCreatedDate</td>
                                                <td>@item.LogTask</td>
                                            </tr>
                                            index++;
                                        }
                                    </tbody>

                                </table>

                            </div>
                            @if (Model.Status == "D" || Model.Status == "T")
                            {
                                <div class="form-group">
                                    @using (Html.BeginForm(MVC.Ticket.AddCommentOnTask(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                    {
                                        <div class="col-md-6">
                                            <p><b>comment :</b></p>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.TextArea("comment", "", new { @class = "form-control", @placeholder = "Comment", @required = "required" })
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-raised btn-success">Add</button>
                                        </div>
                                        @Html.HiddenFor(x => x.TicketNo);
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div> <!-- .container-fluid -->
            </div> <!-- #page-content -->
        </div>
    </div>

</div>