﻿@{
    var name = (PIRApps.data.UserTb)Session["User"];
    var workflowlist = PIRApps.data.WorkFlowTransaction.GetAllActiveWorkFlowByUserName(name.UserID);
    int workflowCount = workflowlist.Count();
    bool isWFactive = PIRApps.data.MsUserMenu.IsMenuActive(900000, name.UserID);
    var display4 = workflowlist.Take(3);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Plaza Indonesia</title>
    
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link href="~/assets/plugins/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link href="~/assets/plugins/fullcalendar-3.7.0/fullcalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ui.jqgrid.min.css" />
    <link href="~/assets/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        PLAZA INDONESIA
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @if (isWFactive)
                    {
                        <li class="purple dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                                <span class="badge badge-important">@workflowCount</span>
                            </a>



                            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-exclamation-triangle"></i>
                                    @workflowCount Notifications
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                        <li>

                                            @foreach (var item in display4)
                                            {
                                                <a href="@Url.Action(MVC.WorkFlow.WorkFlowDetail(item.WorkFlowId))">
                                                    <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-xs no-hover btn-pink fa fa-list"></i>
                                                            @item.WorkFlowName
                                                        </span>
                                                    </div>
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="@Url.Action(MVC.WorkFlow.List())">
                                        See all notifications
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <span class="user-info">
                                <small>Welcome,</small>
                                @name.Name
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                            <li>
                                <a href="@Url.Action(MVC.Home.LogOut())">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">

       @Html.Action("Index", "Menu", new { area = "" })
        <div class="main-content">
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @*<script src="~/assets/js/jquery-2.1.4.min.js"></script>*@

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
   

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="~/assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="~/assets/js/app-custom.js"></script>
    @*<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    @*<script src="~/assets/js/jquery-1.11.3.min.js"></script>*@
    <script src="~/assets/js/parsley.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/assets/plugins/fullcalendar-3.7.0/fullcalendar.min.js"></script>
    <script src="~/assets/plugins/Two-side-Multi-Select-Plugin-with-jQuery-multiselect-js/dist/js/multiselect.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.index.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/fileinput.min.js"></script>
    <script src="~/assets/js/confirmDialog.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
</body>
</html>