﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var privilege = (PIRApps.model.PrivilegeModel)ViewBag.privilege;
    int userid = (int)ViewBag.UserId;
}
<script src="~/assets/js/jquery-1.11.3.min.js"></script>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            @if (privilege.CreateData == "Y")
            {
                <a href="@Url.Action(MVC.HouseKeeping.Pekerjaan.AddEdit(string.Empty))" class="btn btn-success" data-toggle="tooltip" data-placement="top" style="margin-bottom:10px" title="Add New User Group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
            }
        </div>
        <div data-widget-group="group1">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                            <h2>Pekerjaan List</h2>
                            <div class="panel-ctrls"></div>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="panel-body no-padding">
                                <div class="col-md-12" id="divTable">
                                    <table id="grid"></table>
                                    <div id="pager"></div>
                                </div>
                            </div>
                            @Html.Hidden("canEdit", privilege.CreateData)
                            @Html.Hidden("canDelete", privilege.DeleteData)
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container-fluid -->
</div> <!-- #page-content -->

<script>
    $(document).ready(function () {
    $("#btnSearch").click(function () {

        var myData = {
            BrandName: $("#ConditionDesc").val()
        };
        $("#grid").jqGrid("clearGridData", true);
        setTimeout(function () {
            $("#grid").setGridParam({ url: 'HouseKeeping/Pekerjaan/AjaxGetJSONData', datatype: "json", postData: { model: myData }, page: 1 }).trigger("reloadGrid", { fromServer: true, page: 1 });
        }, 100)


    })
    $("#grid").jqGrid({
        datatype: 'JSON',
        url: "@Url.Action(MVC.HouseKeeping.Pekerjaan.AjaxGetJSONData())",
        mtype: "POST",
        colNames: ['Item Pekerjaan Code', 'Item Pekerjaan Name', 'Department','Status', 'Action'],
        colModel: [
            { key: true, Name: true, name: 'PekerjaanCode', editable: false, width: 300, sortable: false },
            { key: false, name: 'PekerjaanName', editable: false, width: 400, sortable: false },
            { key: false, name: 'Department', editable: false, width: 400, sortable: false },
            { key: false, name: 'Status', editable: false, width: 400, sortable: false, formatter: statuslink },
            { name: 'Area', search: false, index: 'RequestId', width: 30, sortable: false, formatter: detailLink },
        ],
        pager: '#pager',
        rowNum: 10,
        rowList: [10, 20, 30, 40],
        height: '80%',
        width: '70%',
        rownumbers: true,
        gridview: true,
        viewrecords: true,
        caption: 'User Group LISTS',
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            cell: "cell",
            id: "id",
            userdata: "userdata",
        },
        multiselect: false,
        loadComplete: function () {
            var table = this;
            setTimeout(function () {
                updatePagerIcons(table);
            }, 100);
        }
    })
     $("#grid").setGridWidth($('#divTable').width(), true);
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);
        $(window).bind('resize', function () {
            jQuery("#grid").setGridWidth($('#divTable').width(), true);
        }).trigger('resize');
        function detailLink(cellValue, options, rowdata, action) {
            var OptionCollection = "";
            if ($("#canEdit").val() == "Y") {
                OptionCollection += "<a href='@Url.Action(MVC.HouseKeeping.Pekerjaan.AddEdit())/?code=" + rowdata.PerkerjaanCode + "' data-toggle='tooltip' title='Edit Condition'><i class='ace-icon fa fa-pencil-square-o' aria-hidden='true' style='font-size:20px'></i></a>";
            }
            //if ($("#canEdit").val() == "Y") {
            //    OptionCollection += "<a href='/ModelAsset/ModelList?BrandID=" + rowdata.BrandID + "' data-toggle='tooltip' title='Add Brand Asset'><i class='ace-icon fa fa-clone blue' aria-hidden='true' style='font-size:20px'></i></a>";
            //}
            //if ($("#canDelete").val() == "Y") {
            //    var string = "confirmation_Dialog_Brand('" + rowdata.BrandID + "')"
            //    OptionCollection += "<a onClick=" + string + " data-toggle='tooltip' title='Delete Brand'><i class='ace-icon fa fa-times' aria-hidden='true' style='font-size:20px'></i></a>";
            //}
            return OptionCollection;


        }
        function statuslink(cellValue, options, rowdata, action) {
            var OptionCollection = "";
            if (rowdata.Status) {
                OptionCollection = "Active"
            }
            else
            {
                OptionCollection = "Not Active"
            }
            return OptionCollection;
        }
        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                    .datepicker({ format: 'yyyy-mm-dd', autoclose: true });
            }, 0);
        }
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

    })
</script>

